.approach {
  background-color: #ff9c8e;
  border-radius: 200px 0 0 200px;
  -webkit-transform: translateX(122px);
          transform: translateX(122px);
  margin-bottom: 148px; }
  .approach--transform {
    -webkit-transform: translateX(-122px);
            transform: translateX(-122px); }
  .approach__container {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 204px;
    padding-bottom: 204px;
    padding-left: 98px; }
  .approach__img {
    width: 100%;
    height: 100%;
    background: url(../images/features/features-bg.jpg) no-repeat left;
    background-size: cover;
    -webkit-transition: -webkit-transform 0.65s;
    transition: -webkit-transform 0.65s;
    transition: transform 0.65s;
    transition: transform 0.65s, -webkit-transform 0.65s;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .approach__img-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 686px;
    height: 680px;
    overflow: hidden;
    border-radius: 200px 0 0 0; }
    .approach__img-wrapper:hover .approach__img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .approach__note {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 16px;
    -ms-flex-line-pack: start;
        align-content: start; }
  .approach__title--s, .approach__title {
    color: #fff; }
  .approach__title {
    max-width: 362px;
    margin-bottom: 16px; }
  .approach__desc {
    display: grid;
    max-width: 440px;
    grid-template-columns: 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
    font-size: 15px;
    line-height: 150%;
    color: #fff; }
    .approach__desc--3 {
      margin-bottom: 0; }
    .approach__desc--1::before {
      background: url(../images/features/features-item-icon-1.svg) no-repeat center; }
    .approach__desc--2::before {
      background: url(../images/features/features-item-icon-2.svg) no-repeat center; }
    .approach__desc--3::before {
      background: url(../images/features/features-item-icon-3.svg) no-repeat center; }
    .approach__desc::before {
      content: "";
      display: block;
      width: 64px;
      height: 64px;
      margin-right: 34px;
      border-radius: 50%;
      background-color: #fff;
      background-size: contain;
      -webkit-transition: all 0.35s;
      transition: all 0.35s; }
    .approach__desc:hover::before {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 0 6px 14px rgba(37, 41, 49, 0.18);
              box-shadow: 0 6px 14px rgba(37, 41, 49, 0.18); }
  @media screen and (min-width: 1600px) {
    .approach__img-wrapper {
      border-bottom-right-radius: 200px; } }
  @media screen and (max-width: 1600px) {
    .approach__container {
      padding-left: 180px; }
    .approach__img-wrapper {
      width: calc((100% - 120px) / 2); } }
  @media screen and (max-width: 1280px) {
    .approach__container {
      padding-top: 164px;
      padding-bottom: 164px; }
    .approach__desc {
      max-width: 380px; } }
  @media screen and (max-width: 1024px) {
    .approach {
      margin-bottom: 88px;
      border-radius: 130px 0 0 130px;
      -webkit-transform: translateX(48px);
              transform: translateX(48px); }
      .approach--transform {
        -webkit-transform: translateX(-48px);
                transform: translateX(-48px); }
      .approach__container {
        padding-top: 88px;
        padding-bottom: 88px;
        padding-left: 108px; }
      .approach__img-wrapper {
        height: 480px;
        width: calc((100% - 180px) / 2);
        border-radius: 130px 0 0 0; }
      .approach__title {
        max-width: 100%; }
      .approach__desc {
        max-width: 340px; } }
  @media screen and (max-width: 800px) {
    .approach {
      margin-bottom: 62px; }
      .approach__container {
        justify-items: center;
        padding-top: 124px;
        padding-bottom: 124px;
        padding-left: 48px;
        margin-left: 48px; }
      .approach__img-wrapper {
        display: none; }
      .approach__title, .approach__desc {
        max-width: 490px; } }
  @media screen and (max-width: 480px) {
    .approach {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      border-radius: 0 130px 130px 0; }
      .approach--transform {
        -webkit-transform: translateX(0);
                transform: translateX(0); }
      .approach__container {
        padding-top: 64px;
        padding-bottom: 64px;
        margin-left: 0; }
      .approach__desc {
        grid-template-columns: 1fr;
        grid-row-gap: 16px;
        justify-items: center;
        text-align: center;
        margin-bottom: 32px; }
        .approach__desc::before {
          margin: 0; } }

/*# sourceMappingURL=approach.css.map */
