h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700; }

html,
body,
ul,
li,
button,
input,
textarea,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.container {
  position: relative;
  max-width: 1600px;
  height: 800px;
  margin: 0 auto;
  overflow: hidden; }
  .container--center {
    max-width: 1146px;
    margin: 0 auto; }
  @media screen and (max-width: 1280px) {
    .container--center {
      max-width: 980px; } }
  @media screen and (max-width: 1024px) {
    .container {
      height: 600px; }
      .container--center {
        max-width: 100vw;
        padding: 0 48px; }
      .container--left {
        padding-right: 0; } }
  @media screen and (max-width: 800px) {
    .container {
      height: 800px; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700; }

.header {
  position: relative;
  height: 800px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #008aff;
  border-bottom-left-radius: 200px; }
  .header__nav {
    height: 120px;
    padding-top: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__logo {
    width: 46px;
    height: 28px;
    background: url(../images/logo/air-logo.svg) no-repeat center;
    outline: none;
    -webkit-transition: -webkit-transform 0.35s;
    transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
    z-index: 2; }
    .header__logo:hover, .header__logo:focus {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px;
    height: 680px; }
  .header__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 490px;
    padding: 0 24px 85px 0; }
  .header__title {
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px; }
  .header__paragraph {
    margin-bottom: 83px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%; }
  .header__button {
    width: 226px; }
  @media screen and (max-width: 1024px) {
    .header {
      height: 600px; }
      .header__content {
        height: 480px; }
      .header__title {
        font-size: 48px;
        line-height: 52px; }
      .header__paragraph {
        margin-bottom: 48px;
        font-size: 16px; } }
  @media screen and (max-width: 800px) {
    .header {
      height: 800px; }
      .header__nav {
        height: 80px; }
      .header__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 48px; }
      .header__article {
        height: 300px;
        padding-bottom: 0; }
      .header__paragraph {
        margin-bottom: 32px; } }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1022px; }
  .nav__item {
    margin-right: 64px; }
    .nav__item:last-child {
      margin-right: 0;
      margin-left: auto; }
  .nav__link {
    position: relative;
    padding: 8px 0;
    outline: none; }
    .nav__link::after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      right: 3px;
      left: 0;
      height: 2px;
      background-color: #ff9c8e;
      opacity: 0;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
      -webkit-transform: scale(0.1);
              transform: scale(0.1); }
    .nav__link:hover::after, .nav__link:focus::after {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
  @media screen and (max-width: 1280px) {
    .nav__list {
      width: 856px; } }
  @media screen and (max-width: 1024px) {
    .nav {
      font-size: 18px; }
      .nav__list {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: auto;
        grid-row-gap: 28px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 100%;
        width: 100vw;
        height: 600px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        z-index: 1;
        background-color: #ff9c8e;
        -webkit-transition-duration: 0.6s;
                transition-duration: 0.6s; }
      .nav__item {
        margin-right: 0; }
        .nav__item:last-child {
          margin-left: 0;
          margin-top: 48px; }
      .nav__link::after {
        background-color: #008aff; } }
  @media screen and (max-width: 800px) {
    .nav {
      font-size: 14px; }
      .nav__list {
        height: 380px;
        grid-row-gap: 12px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
        padding: 48px 0 0 48px; } }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  background-color: #ff9c8e;
  border-radius: 64px;
  border: none;
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s; }
  .button--header {
    padding: 13px 69px; }
  .button:hover {
    background-color: #ff7e6c; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 0;
  width: 686px;
  height: 680px;
  padding: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../images/slider/slide-img-1.jpg) no-repeat center;
  background-size: cover;
  border-top-left-radius: 200px; }
  .slider__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 18px; }
  .slider__btn {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6px 9px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; }
    .slider__btn_prev {
      background-image: url(../images/slider/arrow-left.svg); }
    .slider__btn_next {
      background-image: url(../images/slider/arrow-right.svg); }
    .slider__btn:hover {
      background-color: #dedede; }
  .slider__desc {
    margin-left: 28px; }
  .slider__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .slider__paragraph {
    max-width: 490px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%; }
  @media screen and (max-width: 1600px) {
    .slider {
      width: calc(100% / 2); } }
  @media screen and (max-width: 1024px) {
    .slider {
      height: 480px; } }
  @media screen and (max-width: 800px) {
    .slider {
      position: relative;
      width: 100%;
      height: 300px;
      grid-row: 1 / 2; } }
  @media screen and (max-width: 480px) {
    .slider {
      padding: 24px; }
      .slider__desc {
        margin-left: 16px; }
      .slider__paragraph {
        font-size: 12px; } }

.link {
  color: #fff; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.toggle {
  position: absolute;
  opacity: 0;
  top: -100%; }
  .toggle__btn {
    display: none;
    position: relative;
    padding: 8px 0;
    width: 28px;
    height: 4px;
    outline: none;
    cursor: pointer;
    z-index: 2; }
  .toggle__span::before {
    content: "";
    top: -8px; }
  .toggle__span::after {
    content: "";
    bottom: -8px; }
  .toggle__span, .toggle__span::before, .toggle__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: 0.35s;
    transition: 0.35s; }
  .toggle:checked ~ .toggle__btn > .toggle__span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .toggle:checked ~ .toggle__btn > .toggle__span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  .toggle:checked ~ .toggle__btn > .toggle__span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  .toggle:checked ~ .nav__list {
    visibility: visible;
    left: 0; }
  @media screen and (max-width: 1024px) {
    .toggle__btn {
      display: block; } }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
